
:root{
    --bg: rgba(0, 0, 0, 0.8);
    --bg_opacity: rgba(0, 0, 0, 0.5);
    --bg_secondary: rgba(55, 54, 54, 0.8);
    --bg_secondary_opacity: rgba(55, 54, 54, 0.5);
    --acent: #d5ab8b;
    --txtColor: #f1e9e6;  
    --last_child_color:#63432b;
    --last_child_bg:#bca177;
    --form_input: #756049;
}

body{
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 500;
}

main{
    background: linear-gradient(#3e3b3b,#201f1f);
}

h1,h2,h3,h4,h5,p,a{
    line-height: 1.0;
    margin: 0.5rem 0rem;
    color: var(--txtColor);
}
h1{
    color: var(--txtColor);
    font-size: 2rem;
    font-weight: 300;
}
p,button,a{
    font-size: 1.2rem;
    color: var(--txtColor);
    transition: 300ms ease-in;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    height: auto;
}
input,textarea{
    color:white!important;
    background-color: var(--form_input)!important;
    border-radius: 0%!important;
    border: none!important;
    
}

button{
    text-decoration: none;
}

/*------------------NAVBAR FIXES------------------*/
.navbar {
    --bs-navbar-toggler-border-color: rgba(245, 245, 245, 0.623);
}

.nav{
    gap: 2rem;
}
.navbar-custom{
    background-color:var(--bg);
}
.nav-link{
    color: var(--txtColor);
    padding: 5px 0px;
}

.nav-link:hover{
    color: rgb(156, 152, 152);
}
.nav-link:focus{
    color: rgb(156, 152, 152);
}
.nav-item{
    display: flex;
    align-items: center;
}

.navbar-toggler{
    display: none;
    color:var(--acent);
    padding: 0.25rem 0.5rem;
}

/*----------------HERO----------------*/

.hero{
    background-image: url(../assets/imagenes/central/hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 500px;
}
.hero-bg{
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 22, 0, 0.355);
}
.hero__body{
    position: absolute;    
    max-width: 350px;
    bottom: 20%;
    right: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.hero__Title{
    font-size: 2.35rem;
}
.hero__btn{
    background-color: var(--bg_opacity);
    border: none;
    color: var(--txtColor);
    border-radius: 25px;
    padding: 0.5rem 1rem;
}
.hero__btn:hover{
    background-color: var(--bg_secondary_opacity);
}

/*-----------PRODUCTOS----------*/
.title-1{
    color: var(--acent);
    text-align: center;
    font-weight: 500;
}
.productos__body{
    display: flex;
}
.productos__img{
    width: 50%;
}

.productos__body-info{
    background-color: black;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.productos__body:not(:last-child) .productos__body-info{
    padding: 1rem 0rem;
}

.productos__body-info-title{
    color: var(--acent);
    text-align: center;
    margin: 2rem;
}
.productos__body-info-p, .productos__body-info-nut{
    margin-inline-start: 20%;
    margin-inline-end: 20%;
}
.productos__body-info-nut{
    color: var(--acent);
    font-weight: 500;
}
.productos__body-info-btn{
    font-size: 1rem;
    color: var(--acent);
    background-color: transparent;
    border: 2px solid var(--acent);
    margin: 1rem;
}
.productos__body-info-btn:hover{
    color: black;
    background-color: var(--acent);
}

/*----------LAST CHILD----------*/

.productos__body:last-child {
    background-color: var(--last_child_bg);
    max-height: 350px;
}
.productos__body:last-child .productos__body-info{
    background-color: transparent;
}

.productos__body:last-child .productos__body-info-title{
    color: var(--last_child_color);
    margin: 1rem;
}

.productos__body:last-child .productos__body-info-nut{
    color: var(--last_child_color);
}
.productos__body:last-child .productos__body-info-btn{
    color: var(--last_child_color);
    background-color: transparent;
    border: 2px solid var(--last_child_color);
    margin: 1rem;
}
.productos__body:last-child .productos__body-info-btn:hover{
    color: var(--last_child_bg);
    background-color: var(--last_child_color);
}

.productos__body:last-child .productos__img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.productos__body:last-child .productos__img img{
    width: 50%;
    max-height: 90%;
}

/*--------------CALIDAD--------------*/
.calidad{
    background-color: var(--bg);
}
.calidad__title{
    text-align: center;
    margin: 0;
    padding: 1rem;
}
.calidad__item-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.calidad__item{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calidad__item-img{
    width: 50%;

}
.calidad__subtitle{
    text-align: center;
    font-size: 1rem;
    margin-inline-start: 50%;
    margin-inline-end: 50%;
    color: #bca177;
}

/*---------CONTACTANOS----------*/
.contactanos{
    background-color: var(--bg);
}
.contactanos__title{
    margin: 0;
    color: white;
    text-align: center;
    font-weight: 500;
}

.contactanos__body{
    display: flex;
}
.contactanos__img{
    width: 45%;
}

.contactanos__body-info{
    background-color: white;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    
}

.contactanos__body-info-title{
    color: var(--form_input);
    text-align: center;
    margin: 2rem;
}

.contactanos__body-form{
    display: flex;
    flex-direction: column;
    min-width: 60%;
}
.contactanos__body-form-p{
    margin-inline-start: 20%;
    margin-inline-end: 20%;
}

.contactanos__body-form-btn{
    font-size: 1rem;
    color: var(--form_input);
    background-color: transparent;
    border: 2px solid var(--form_input);
    border-radius: 0;
    margin: 1rem;
}
.contactanos__body-form-btn:hover{
    color: var(--last_child_bg);
    background-color: var(--form_input);
}

.btn-center{
    display: flex;
    justify-content: center;
}

/*-----------RECETAS------------*/
.recetas{
    display: flex;
    justify-content: space-around;
}

.card{
    border-top: none;
    border-radius: 0%;
    background-color: var(--last_child_bg);
}
.card-title{
    margin: 0.15rem 0rem;
    text-align: center;
    color: var(--form_input);
}

.card-body{
    padding: 0.5rem 1.5rem;
}

.card-img-top{
    border-radius: 0%;
}
.card-text{
    font-size: 0.75rem;
}
.recetas__card-body-btn{
    padding: 0.25rem 0.5rem;
    font-size: 0.5rem;
    text-decoration: none;
}
/*------------QUERIES----------*/
@media (max-width:576px) {
    .nav{
        gap: 0rem;
        flex-direction: column;
        align-items: center;
    }
    .navbar-toggler{
        display: block;
    }
    .nav-item .nav-link{
        margin: 0.5rem 1rem!Important;
    }
    .navbar-image{
        max-width: 50px;
    }
    .hero{
        height: 250px;
        background-size: cover;
    }
    .hero__body{
        right: 1%;
        bottom: 5%;
    }
    p,button,a{
        font-size: 1rem;
    }


    .productos__body:last-child{
        flex-direction: column;
        max-height: none;
    }
    .productos__body-info-p, .productos__body-info-nut{
        margin-inline-start: 5%;
        margin-inline-end: 5%;
    }
    .productos__body:last-child .productos__img{
        width: 100%;
        order: 1;
    }
    .productos__body:last-child .productos__img img{
        margin: 1rem 0rem;
        border-radius: 25%;
    }
    .productos__body:last-child .productos__body-info{
        width: 100%;
        order: 2;
    }

    .calidad__item-list{
        gap: 3rem;
    }

}

@media (max-width:991px) {
    .productos__body:not(:last-child){
        flex-direction: column;
    }
    .productos__body:not(:last-child) .productos__img, .contactanos__body-info{
        width: 100%;
        order: 1;
    }
    .productos__body:not(:last-child) .productos__body-info{
        width: 100%;
        order: 2;
    }

    .contactanos__body{
        flex-direction: column;
    }
    .contactanos__img {
        display: none;
    }

    .recetas{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .card{
        width: 45vh!important;
    }
}
